<main class="container">
    <section class="hero">
        <h1>Welcome to CSE Motors</h1>
    </section>

    <section class="content">
        <div class="text-column">
            <p>DMC Dolerean</p>
            <p>3 cup holders</p>
            <p>Superman Doors</p>
            <p>LFuzzy Dice</p>
            <img src="/images/site/own_today.png " alt="Own yours today!">
        </div>
       
    </section>


    <section class="upgrades-reviews">
        <div class="upgrades-column">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-images">
                <div class="image-container">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker Upgrade">
                </div>
                <div class="image-container">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Upgrade">
                </div>
                <div class="image-container">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Upgrade">
                </div>
                <div class="image-container">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap Upgrade">
                </div>
            </div>
        </div>

    
        <div class="reviews-column">
            <h2>DMC Delorean Reviews</h2>
            <div class="reviews">
                <div class="review">
                    <h3>Reviewer 1</h3>
                    <p>"SofastIt's almost like travelling in time."(4/5)</p>
                </div>
                <div class="review">
                    <h3>Reviewer 2</h3>
                    <p>"TCoolest ride on the road."(4/5)</p>
                </div>
                <div class="review">
                    <h3>Reviewer 3</h3>
                    <p>"I am feeling McFly."(5/5)</p>
                </div>
                div class="review">
                <h3>Reviewer 4</h3>
                <p>"The most futuristic ride of our day."(5/5)</p>
                </div>
                <div class="review">
                    <h3>Reviewer 5</h3>
                    <p>"80's livin and love it"(4.5/5)</p>
                </div>
                
            </div>
        </div>
    </section>


</main>